# Built python files
*.mpy
__pycache__
build*/
bundles
*.pyc

# Sphix build dir
_build

# Python env files
.env
.venv

# MacOS metadata files
*.DS_Store

# Local module install files
.eggs
dist
.python-version
**/*.egg-info

# IDE FIles
.idea
.vscode
